 .body{
    border-radius: 16px;
    display: inline;

}
.chat{
    background: rgb(153, 143, 161);
    margin: 2px 4px;
    padding: 6px;
  
    
}
.msg{
    background-color: rgb(39, 135, 131);
    color: rgb(17, 15, 15);
    padding: 5px 5px;
    border-radius: 10px;
    

}